.accordion {
}

.accordion h1, h2, h3, h4 {
    cursor: pointer;
}

.accordion h2, h3, h4 {
}

.accordion h1 {
    margin: 1px 0;
    padding: 4px 28px;
    background-image: url(../img/tweed.png);
    color: whitesmoke;
    border-radius: 6px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: normal;
}

.accordion div, .accordion p {
    display: none;
    position: relative;
    font-family: 'Oxygen', sans-serif;
}

.accordion h2 {
    padding: 5px 25px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
    font-family: 'Oxygen', sans-serif;
}

.accordion h3 {
    display: inline-block;
    margin: 0 0 2px 16px;
    padding: 0 8px 2px 24px;
    border-radius: 10px;
    background-image: url(../img/tweed.png);
    color: whitesmoke;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
}

.accordion h4 {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: -21px;
}

.accordion h4:nth-child(1) {
    left: 140px;
}

.accordion h4:nth-child(3) {
    left: 172px;
}

.accordion h4:nth-child(5) {
    left: 204px;
}

.accordion p {
    padding: 8px 24px;
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
    line-height: 1.3rem;
}

.accordion p a.file {
    margin-left: 16px;
    color: rgba(0, 0, 0, .7);
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.accordion .opened {
    display: block;
}

.accordion h1:before {
    font-family: FontAwesome;
    position: absolute;
    color: whitesmoke;
    content: '\f078';
    left: 6px;
    font-size: 12px;
}

.accordion h2:before {
    font-family: FontAwesome;
    position: absolute;
    color: rgba(0, 0, 0, .7);
    content: '\f078';
    left: 6px;
    font-size: 12px;
}

.accordion h1.collapsed:before {
    font-family: FontAwesome;
    position: absolute;
    color: whitesmoke;
    content: '\f054';
    left: 6px;
    font-size: 12px;
}

.code-examples:before {
    font-family: FontAwesome;
    position: absolute;
    content: '\f121';
    left: 23px;
    margin-top: 1px;
}

.file:before {
    font-family: FontAwesome;
    position: absolute;
    content: '\f1c9';
    left: 28px;
}