/* separator */

.separator {
    vertical-align: middle;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(255, 255, 255, .9);

    /* box shadow */
    -moz-box-shadow: 0 0 50 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 0 50 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 0 50 rgba(0, 0, 0, .1) inset;

    /* text shadow*/
    text-shadow: 0 0 3px rgba(155, 155, 155, .7), 0 0 5px rgba(155, 155, 155, .8);
}

.separator:hover {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    cursor:pointer;
    /* box shadow*/
    box-shadow: 0 0 1px rgba(255, 255, 255, .8) inset;

    /* text shadow*/
    text-shadow: 0 0 30 rgba(255, 255, 255, .9);
}

.separator:active {
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}